# Folders to be excluded 
downloaded_sequences/
__pycache__/
login_screenshots/
screenshots/
upload_screenshots/
browser_screenshots/
alphafold_page.html
bulk_sequences/
roi_analysis_summary.xlsx
Protein_Seq_List.xlsx
alphafold_cookies.pkl
alphafold_batch_results/
test_chrome.py
automation_screenshots/
alphafold_cookies.pkl